@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: 0.2s all ease-out;
}

body {
	position: absolute;
    font-family: "Montserrat", sans-serif;
	color: white;
	background-color: #25253F;
	height: 100vh;
	min-height: 150%;
}

li, a {
	text-decoration: none;
	font-weight: 400;
	color: white;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 20% 60px 20%;
}

.imagem-menu {
	display: none;
}

.logo {
	cursor: pointer;
}

.nav_links {
	list-style: none;
}

.nav_links li {
	display: inline-block;
	padding: 0px 20px;
}

#text {
	display: flex;
	flex-direction: column;
	margin-top: 80px;
}

section {
	display: flex;
	justify-content: space-between;
}

main {
	background-image: url("../src/bg.png");
	background-repeat: no-repeat;
	background-size: 100% 722px;
	z-index: 1;
	height: auto;
	width: 100%;
	padding: 50px 20%;
	display: inline-block;
	min-height: 100%;
}

section .conteudo-principal {
	margin-bottom: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.conteudo-principal-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

h1 {
	display: flex;
	flex-direction: column;
	gap: 2px;
	font-size: 48px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 10px;
}

h2 {
	display: flex;
	flex-direction: column;
	gap: 2px;
	font-size: 32px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 10px;
}

h3 {
	display: flex;
	flex-direction: column;
	gap: 2px;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.bem-vindo {
	display: flex;
	flex-direction: column;
	gap: 2px;
	margin-top: 40px;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 500;
	width: 145px;
	height: 53px;
	background-color: #2C58F7;
	border-radius: 10px;
	border: none;
	color: white;
	margin-top: 50px;
}

.btn-arrow {
	margin: 40px 0 0 40px;
	padding: 10px 0 0 10px;
	transition: 0.5s all;
	cursor: pointer;
	width: 50px;
}

.btn-arrow:hover {
	transform: translateY(15%);
}

.illustration {
	position: relative;
	width: 495px;
	height: 539px;
	display: inline-block;
	margin-top: 20px;
}

.conteudo-projetos {
	display: flex;
	flex-direction: column;
	margin: 100px 0;
}

h4 {
	text-align: start;
	display: inline;
	font-weight: 500;
	font-size: 24px;
	padding-top: 60px;
	margin-bottom: 15px;
}

.conteudo-projetos-cards {
	background-color: #2F2C4B;
	border-radius: 20px;
	display: flex;
	height: auto;
	border: 30px #2F2C4B solid;
	gap: 40px;
}

.card {
	display: flex;
	flex-direction: column;
	text-align: start;
	justify-content: flex-start;
	width: 31.5%;
	transition-duration: 0.2s;
	align-items: start;
}

.card:hover {
	transform: scale(1.05);
}

h5 {
	text-align: start;
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 15px;
}

.imagem-projetos {
	max-width: 100%;
	width: auto;
	height: auto;
}

.card-descricao {
	margin-top: 15px;
	font-weight: 400;
	font-size: 16px;
	line-height: 19.5px;
}

footer {
	display: flex;
	padding: 50px 20%;
	bottom: 0;
	position: relative;
	display: flex;
	width: 100%;
	height: 210px;
	background: #181828;
}

.footer-div {
	display: flex;
	gap: 2%;
}

.sociais {
	display: flex;
	flex-direction: column;
	justify-content: start;
	font-weight: 400;
	text-align: start;
	gap: 10px;
	border-right: 1px solid #FFFFFF;
}

.icon-sociais {
	width: 26px;
	height: 26px;
}

.icon-text {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
	width: 19em;
}

.text-sociais {
	display: flex;
	font-size: 16px;
	margin-left: 5px;
}

.email {
	gap: 20px;
	margin-top: 2px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: flex-start;
	border-right: 1px solid #FFFFFF;
}

.curriculo {
	align-items: flex-start;
	width: 33%;
	margin-top: 2px;
}

.link-curriculo {
	display: flex;
	align-items: center;
	width: 12em;
	justify-content: center;
	text-align: center;
	font-weight: 500;
	height: 45px;
	background-color: #6A6680;
	border-radius: 10px;
	border: none;
	color: white;
}

.link-curriculo:hover {
	background-color: #2C58F7;
}
